@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Mulish", sans-serif;
}

/* common styles */
.container{
    width: 90%;
    margin: 4rem auto;
    border-radius: 1rem;

}
h2{
    font-size: 2rem;
    font-weight: 800;
}
h3{
    font-size: 2rem;
    font-weight: 700;
}
h4{
    color: rgba(255, 255, 255);
    font-size: 1.5rem;
}
h5{
    font-size: 1.3rem ;
    margin-bottom: 10px;
}
.btn-primary{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    padding: 5px;
    font-size: 1rem;
    background: rgb(255, 84, 0);
    color: white;
    font-weight: 600;
}

.section-description{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: .9rem;
}

/* navbar styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-lists{
    display: flex;
    gap:25px;
}
.nav-lists li{
    list-style: none;
}
.nav-lists li>a{
    text-decoration: none;
    color: rgb(66, 66, 71);
    font-family: Mulish;
    font-size: 1.1rem;
    font-weight: 400;
}
.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo img{
    width: 50px;
    height: 42px;
}
.travel-span{
    color:rgb(255, 84, 0);
}

/* Banner styles */
.banner-section{
    background-image: linear-gradient(180deg,
     rgba(19,19,20,0.8) 0%, 
     rgba(19,19,20, 0.1) 100% ), 
     url('../images/banner.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
}
.banner-content{
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;

}
.banner-description{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    margin: 1.5rem 0;
}
.banner-title{
    font-size: 4rem;
    font-weight: 800;
    color: white;
}
.banner-inputs{
    display: flex;
    gap:14px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    backdrop-filter: blur(3px);
    margin-bottom: 6rem;
}
.banner-inputs input, select{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    font-size: 1rem;
}

/* Popular section styles */

.popular-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    margin-top: 100px;
}

.popular-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    padding-left: 1px;
    font-size: 1rem ;
}
.popular-content p{
    line-height: 2rem;
}
.lists li{
    margin-top: 9px;
}
.popular-content ul>li{
    line-height: 25px;
    margin-left: 30px;
}

.popular-img img{
    width: 100%;
    height: 100%;
}


/* desttionation sttyles */

.destination-description{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: .9rem;
}

.your-destination-section h3{
    text-align: center;
    margin-bottom: 20px;
}

.destination-img-container{
    display: grid;
    gap:30px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "img-box-1 img-box-1 img-box-1 img-box-1 img-box-1 img-box-1 img-box-2 img-box-2 img-box-2 img-box-2 img-box-2 img-box-2" "img-box-3 img-box-3  img-box-3 img-box-3 img-box-4 img-box-4 img-box-4 img-box-4 img-box-4 img-box-5 img-box-5 img-box-5" "img-box-6 img-box-6 img-box-6 img-box-6 img-box-6 img-box-7 img-box-7 img-box-7 img-box-7 img-box-7 img-box-7 img-box-7";
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat:no-repeat;
    background-position: center;
    border-radius: 1.8rem;
    background-size: cover;
    height: 300px;
    filter: brightness(80%);
}
.img-box-1{
    grid-area: img-box-1;
    background-image: url('../images/maldeve.png');
}

.img-box-2{
    grid-area: img-box-2;
    background-image: url('../images/indonesia.png');
}

.img-box-3{
    grid-area: img-box-3;
    background-image: url('../images/srilanka.png');
}

.img-box-4{
    grid-area: img-box-4;
    background-image: url('../images/northamerica.png');
}

.img-box-5{
    grid-area: img-box-5;
    background-image: url('../images/kashmir.png');
}

.img-box-6{
    grid-area: img-box-6;
    background-image: url('../images/bangladesh.png');
}
.img-box-7{
    grid-area: img-box-7;
    background-image: url('../images/bandorban.png');
}


/* why choose us secttion styles */

.why-title{
    text-align: center;
    margin: 20px 0;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 300px;
    max-width: 45%;
    border: 2px solid red;
}
.card-1{
    box-sizing: border-box;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
}
.card img{
    max-width: 50px;
    margin-bottom: 10px;
}
.card-2{
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
}

.row-a{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

}

.row-b{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-3{
    box-sizing: border-box;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
}

.why-choose-us p{
    margin-bottom: 40px;
}


/* deals and discount styles */

.discount-box{
    box-sizing: border-box;
    height: 500px;
    padding: 50px;
    margin-bottom: 30px;
}

.offer-1{
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url('../images/offer-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.offer-2{
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: url('../images/offer-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.offer-3{
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url('../images/offer-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.offer-price-1{
    max-width: 600px;
    max-height: 90%;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.offer-price-2{
    max-width: 600px;
    max-height: 90%;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
}
.offer-price-3{
    max-width: 600px;
    max-height: 90%;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
}


.time-person{
    display: flex;
    gap:10px;
    margin: 25px 25px 25px 0;
}

.tour-price{
    margin-top: 15px;
    color: rgb(255, 84, 0);
    font-size: 1.2rem;
    font-weight: 800;
}